DOCKER_VOLUME_ROOT=/path/to/volumes

POSTGRES_DB_PASSWORD=changeme
MYSQL_DB_PASSWORD=changeme
REDIS_SYSTEMPASS=changeme
RABBIT_USER=guest
RABBIT_PASS=guest
MONGO_DB_USERNAME=admin
MONGO_DB_PASSWORD=changeme
